.navigation {
  background: var(--ui-01);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 32px;
  margin-top: var(--space-m);

  &__btn {
    background: transparent;
    display: block;
    border: none;
    padding: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      background: var(--hover-row);
      outline: var(--hover-row);
    }
  }

  &__image {
    display: block;
  }

  &__counter {
    font-size: 0.75rem;
    color: var(--text-03);
    margin: 0;
    vertical-align: middle;
    line-height: 2rem;
  }
}
